[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
max_connections=2000
connect_timeout=864000
innodb_buffer_pool_size=134217728
secure-file-priv = ""

server-id=1
log-bin=mysql-bin
log-bin-index=mysql-bin.index
